.low-main-container {
  @media (width >= 768px) and (width < 1440px) {
    padding: 0 32px;
  }
  @media (width >= 1440px) {
    display: flex;
    flex-direction: row;
  }
}
.section-low {
  background-color: #e4e4e4;
}

.low-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.low-first-title {
  padding-top: 48px;
  padding-bottom: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.low-article-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  padding-bottom: 32px;
}
.low-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28.5px;
  letter-spacing: 0;

  max-height: 120px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease;
}

.low-text.expanded {
  max-height: 10000px;
}

.low-container-text {
  width: 307px;
  height: 354px;
}
.low-btn-read-full {
  margin-top: 32px;
  width: 177px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #345742;
  cursor: pointer;
  color: #345742;

  background-color: transparent;
}
