<section id="about-me" class="section section-about">
  <div class="container">
    <div class="container-about-me">
      <div>
        <h2 class="about-me-title" data-lang="about.title">Про нас</h2>
      </div>
      <div>
        <p class="about-me-text" data-lang="about.text">
          Адвокатское объединение «Фауст» — команда юристов, имеющих общую цель:
          защищать права, восстанавливать справедливость и оказывать клиентам
          правовую поддержку наивысшего уровня. Наш опыт включает уголовное,
          хозяйственное, гражданское и административное право, а также
          сопровождение бизнеса, антикоррупционные расследования и защиту в
          делах повышенной сложности. Мы объединяем глубокие знания
          законодательства, судебную практику и стратегическое мышление — все,
          чтобы добиться результата для клиента. Каждое дело для нас – это не
          просто процесс, а ответственность за судьбу человека или бизнеса. Нам
          доверяют, потому что мы:
        </p>
      </div>
    </div>
  </div>
</section>
