<header id="header" class="header">
  <div class="container">
    <div class="header-modal-container">
      <a class="logo-link" href="/truth-project">Andrey Gmyrin</a>

      <!--For decstop navigation-->
      <div class="header-container-decs">
        <div class="header-contents-container">
          <ul class="header-contents-list">
            <li class="header-contents-item">
              <a
                class="header-contents-item-link"
                href="#about-me"
                data-lang="sections.about"
                >Биография</a
              >
            </li>
            <li class="header-contents-item">
              <a
                class="header-contents-item-link"
                href="#thoughts-and-reforms"
                data-lang="sections.reform"
                >Мысли и реформы</a
              >
            </li>
            <li class="header-contents-item">
              <a
                class="header-contents-item-link"
                href="#sens-vs-chaos"
                data-lang="sections.chaos"
                >Смысл против хаоса</a
              >
            </li>
            <li class="header-contents-item">
              <a
                class="header-contents-item-link"
                href="#footer"
                data-lang="sections.contacts"
                >Контакты</a
              >
            </li>
          </ul>
        </div>
        <div class="language-dropdown">
          <button id="langToggle" class="lang-toggle">RU →</button>
          <ul id="langList" class="lang-options hidden">
            <li><button class="lang-options-item">RU</button></li>
            <li>
              <button class="lang-options-item active-header-checkbox-modal">
                UA
              </button>
            </li>
            <li><button class="lang-options-item">EN</button></li>
            <li><button class="lang-options-item">CN</button></li>
            <li><button class="lang-options-item">AR</button></li>
          </ul>
        </div>
      </div>

      <!--Section modal table of contents-->

      <div class="header-burger-container">
        <svg class="header-burger-icon" width="24" height="16">
          <symbol id="icon-Vector-3" viewBox="0 0 46 32">
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="4"
              stroke-width="3.5556"
              d="M1.778 1.778h42.667M1.778 16h42.667M1.778 30.222h42.667"
            ></path>
          </symbol>
          <use href="#icon-Vector-3"></use>
        </svg>
      </div>

      <div class="header-modal-wrapper">
        <!--тут добавлять active-->
        <div class="header-modal-wrapper-item-svg-close-container">
          <svg
            class="header-modal-wrapper-item-svg-close-icon"
            width="14"
            height="14"
          >
            <symbol id="icon-Icon" viewBox="0 0 32 32">
              <path
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-miterlimit="4"
                stroke-width="5.3333"
                d="M28.444 3.556l-24.889 24.889M3.556 3.556l24.889 24.889"
              ></path>
            </symbol>
            <use href="#icon-Icon"></use>
          </svg>
        </div>

        <nav class="modal-header-contents-container">
          <ul class="modal-header-contents-list">
            <li class="modal-header-contents-item">
              <a
                class="modal-header-contents-item-link"
                href="#about-me"
                data-lang="sections.about"
                >Биография</a
              >
            </li>
            <li class="modal-header-contents-item">
              <a
                class="modal-header-contents-item-link"
                href="#thoughts-and-reforms"
                data-lang="sections.reform"
                >Мысли и реформы</a
              >
            </li>
            <li class="modal-header-contents-item">
              <a
                class="modal-header-contents-item-link"
                href="#sens-vs-chaos"
                data-lang="sections.chaos"
                >Смысл против хаоса</a
              >
            </li>
            <li class="modal-header-contents-item">
              <a
                class="modal-header-contents-item-link"
                href="#footer"
                data-lang="sections.contacts"
                >Контакты</a
              >
            </li>
          </ul>
        </nav>

        <!--NAVIGATION-->
        <div class="header-modal-wrapper-select-box-container">
          <p class="header-modal-wrapper-select-box-container-text-modal">ru</p>
          <!-- <svg
            class="header-modal-wrapper-item-select-box-option-svg"
            width="10.38"
            height="10.84"
          >
            <use href="../public/img/sprite.svg#icon-Vector-1" x="10" y="10" />
            <use href="../public/img/sprite.svg#icon-Vector-2" x="50" y="30" />
          </svg> -->
          <div id="langSelect" class="header-modal-selectlang-checkbox">
            <!--тут добавлять active-modal-->
            <button class="header-modal-wrapper-select-box-checkbox-text-ua">
              ru
            </button>
            <button
              class="header-modal-wrapper-select-box-checkbox-text-ua active-header-checkbox-modal"
            >
              ua
            </button>
            <button class="header-modal-wrapper-select-box-checkbox-text-ua">
              en
            </button>
            <button class="header-modal-wrapper-select-box-checkbox-text-ua">
              cn
            </button>
            <button class="header-modal-wrapper-select-box-checkbox-text-ua">
              ar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
