<section class="section section-low">
  <div class="container">
    <div class="low-main-container">
      <div class="low-first-title" data-lang="low.title">
        <h3>Когда закон подменивают нарративами</h3>
      </div>
      <div class="low-container-text">
        <h4 class="low-article-title" data-lang="low.article">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4>
        <p id="text-low" class="low-text" data-lang="low.text">
          Мы живем в эпоху, когда правда перестала быть опорной категорией
          общественной жизни. Ложь — не исключение, не сбой, а встроенный
          элемент системы, смазка, на которой крутятся механизмы власти,
          экономики, медиа и даже культуры. Современная ложь — это не просто
          подмена фактов, а методология: она подается в обертке эмоционального
          нарратива, подстраивается под ожидания аудитории и часто выглядит
          убедительнее правды. Политические заявления, экономические отчеты,
          рекламные кампании, личные бренды в соцсетях — всё это построено на
          нарративе, который легко и незаметно заменяет реальность. Мы
          потребляем не факты, а истории. История должна быть вдохновляющей,
          логичной, «правильной» — и если правда мешает этому, ее заменяют. Не
          грубо, не откровенно, а постепенно, незаметно, через акценты,
          обобщения, манипуляции контекстом. Это — ложь нового типа. Ложь стала
          нормой, потому что система нуждается в стабильности, а правда зачастую
          разрушает иллюзии, на которых держится эта стабильность. Неудобные
          факты заменяются "альтернативными", разоблачения уравновешиваются
          "встречными нарративами", а совесть объявляется субъективной и потому
          нерелевантной. В результате человек оказывается в мире, где сложно
          отличить реальность от образа, честность — от наивности, сомнение — от
          подрывной деятельности. Сопротивление лжи — это не только акт
          честности, но и форма духовного выбора. Совесть в этом контексте —
          последняя инстанция правды. Но ее голос почти не слышен за шумом
          системных нарративов. Тем не менее, именно от внутреннего выбора
          человека зависит, будет ли ложь жить в нём — или он станет одним из
          тех, кто не позволит системе полностью поглотить реальность.
        </p>

        <button
          id="low-btn-read-full"
          class="low-btn-read-full"
          data-lang="low.btn"
        >
          Читать полностью
        </button>
      </div>
      <div class="low-container-text">
        <h4 class="low-article-title" data-lang="low.secondArticle">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4>
        <p id="text-low-1" class="low-text" data-lang="low.secondText">
          Мы живем в эпоху, когда правда перестала быть опорной категорией
          общественной жизни. Ложь — не исключение, не сбой, а встроенный
          элемент системы, смазка, на которой крутятся механизмы власти,
          экономики, медиа и даже культуры. Современная ложь — это не просто
          подмена фактов, а методология: она подается в обертке эмоционального
          нарратива, подстраивается под ожидания аудитории и часто выглядит
          убедительнее правды. Политические заявления, экономические отчеты,
          рекламные кампании, личные бренды в соцсетях — всё это построено на
          нарративе, который легко и незаметно заменяет реальность. Мы
          потребляем не факты, а истории. История должна быть вдохновляющей,
          логичной, «правильной» — и если правда мешает этому, ее заменяют. Не
          грубо, не откровенно, а постепенно, незаметно, через акценты,
          обобщения, манипуляции контекстом. Это — ложь нового типа. Ложь стала
          нормой, потому что система нуждается в стабильности, а правда зачастую
          разрушает иллюзии, на которых держится эта стабильность. Неудобные
          факты заменяются "альтернативными", разоблачения уравновешиваются
          "встречными нарративами", а совесть объявляется субъективной и потому
          нерелевантной. В результате человек оказывается в мире, где сложно
          отличить реальность от образа, честность — от наивности, сомнение — от
          подрывной деятельности. Сопротивление лжи — это не только акт
          честности, но и форма духовного выбора. Совесть в этом контексте —
          последняя инстанция правды. Но ее голос почти не слышен за шумом
          системных нарративов. Тем не менее, именно от внутреннего выбора
          человека зависит, будет ли ложь жить в нём — или он станет одним из
          тех, кто не позволит системе полностью поглотить реальность.
        </p>

        <button
          id="low-btn-read-full-1"
          class="low-btn-read-full"
          data-lang="low.secontBtn"
        >
          Читать полностью
        </button>
      </div>
    </div>
  </div>
</section>
