<section id="main-section" class="section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-text-group">
        <h1 class="hero-first-text" data-lang="main.firstParagraph">
          Честь важнее выгоды.
        </h1>
        <div class="hero-second-container">
          <p class="hero-second-text" data-lang="main.title">
            Выбор в пользу чести — это выбор, который не стыдно пройти перед
            семьёй, народом и Богом.»
          </p>
          <div class="hero-floating-photo-wrapper">
            <img
              src="/img/hero.jpg"
              alt="hero photo"
              class="hero-floating-photo"
              width="200"
            />
          </div>
          <!-- <p class="hero-author" data-lang="main.author">А. Гмырин</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
