<section class="section section-investment">
  <div class="container">
    <div class="investment-main-container">
      <div class="investment-first-title" data-lang="invest.title">
        <h3>Правовые выводы</h3>
      </div>
      <div>
        <h3 class="investment-epigraph" data-lang="invest.article">
          Инвестиции с подменой понятий имеют убыточный эффект.
        </h3>
      </div>
      <div class="investment-container-text">
        <h4 class="investment-article-title" data-lang="invest.paragraf">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4>
        <p id="text-invest" class="investment-text" data-lang="invest.text">
          Текст
        </p>

        <button
          id="invest-btn"
          class="investment-btn-read-full"
          data-lang="invest.btn"
        >
          Читать полностью
        </button>
      </div>
      <div class="investment-container-text">
        <h4 class="investment-article-title" data-lang="invest.secondArticle">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4>
        <p
          id="text-invest-1"
          class="investment-text"
          data-lang="invest.secondText"
        >
          Текст
        </p>

        <button
          id="invest-btn-1"
          class="investment-btn-read-full"
          data-lang="invest.secontBtn"
        >
          Читать полностью
        </button>
      </div>
    </div>
  </div>
</section>
