<section id="sens-vs-chaos">
  <div class="container">
    <div class="sens-main-container">
      <h2 class="sens-main-title" data-lang="chaos.title">
        / Судебная практика
      </h2>
    </div>

    <div class="tabs">
      <div class="tab active" data-lang="chaos.chapter" data-tab="1">
        Глава 1
      </div>
      <div class="tab" data-lang="chaos.title" data-tab="2">Глава 2</div>
      <div class="tab" data-lang="chaos.title" data-tab="3">Глава 3</div>
    </div>

    <div class="tab-content-wrapper">
      <div class="tab-content active" data-content="1">
        <h3 class="sens-first-title" data-lang="chaos.article">
          Ложь в современной системе. Как ложь стала ее частью.
        </h3>
        <p id="sens-text" class="sens-text" data-lang="chaos.text">Текст</p>
        <button id="sens-btn" class="sens-btn-read-full" data-lang="chaos.btn">
          Читать полностью
        </button>
      </div>

      <!-- <div class="tab-content" data-content="2">
        <h3>ПРАВДА КАК ИСКЛЮЧЕНИЕ</h3>
        <p>Во второй главе рассматривается влияние медиасреды...</p>
      </div>

      <div class="tab-content" data-content="3">
        <h3>ТРЕТЬЯ ГЛАВА</h3>
        <p>Здесь описываются культурные последствия...</p>
      </div> -->
    </div>
  </div>
</section>
