<section id="thoughts-and-reforms" class="section section-reforms">
  <div class="container">
    <div class="reforms-main-container">
      <h2 class="reforms-main-title" data-lang="reforms.title">/ Новости</h2>

      <!-- <div class="reforms-first-title">
        <h3 data-lang="reforms.firstParagraph">
          Вера и жизнь. Совесть в эпоху нарративов
        </h3>
      </div> -->
      <div class="reforms-container-text">
        <!-- <h4 class="reforms-article-title" data-lang="reforms.article">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4> -->
        <p id="text-reform" class="reforms-text" data-lang="reforms.text">
          ДАВАЛЬЧЕСКАЯ ПЕРЕРАБОТКА В УКРАИНЕ: НОРМАТИВНО-ПРАВОВОЕ ИЗМЕРЕНИЕ И
          ПРАКТИЧЕСКИЕ АСПЕКТЫ ЗАКЛЮЧЕНИЯ ДОГОВОРА ТОЛЛИНГА.<br />
          Уважаемые коллеги, клиенты и партнеры! Рекомендуем вашему вниманию
          актуальную научную статью директора Адвокатского объединения «Фауст» —
          Оксаны Подолян и кандидата юридических наук, доцента, адвоката — Юлии
          Подолян, опубликованную в журнале DICTUM FACTUM (2025). Авторы
          подробно анализируют нормативно-правовое регулирование давальческой
          переработки (толлинга) в Украине, а также практические аспекты
          заключения соответствующего договора. В фокусе — положения
          Гражданского кодекса Украины (как разновидность договора подряда),
          Хозяйственного кодекса, Налогового кодекса (определение давальческого
          сырья) и Таможенного кодекса (режимы переработки на таможенной
          территории и за её пределами). Статья особенно полезна для адвокатов,
          сопровождающих бизнес в перерабатывающих операциях: • существенные
          условия договора толлинга; • распределение рисков и ответственности; •
          сохранение права собственности на сырье и готовую продукцию; •
          особенности налогообложения и таможенного оформления; • типичные
          ошибки и рекомендации по минимизации споров. Материал станет надежным
          ориентиром как для внутригосударственных, так и для
          внешнеэкономических толлинговых схем. Полный текст статьи доступен по
          ссылкам:
          <a href="https://share.google/1bVehIoD9uwM306NZ" target="_blank"
            >Открыть статью </a
          ><br />

          <a
            href="https://df.duit.in.ua/index.php/dictum/article/view/443"
            target="_blank"
          >
            или на сайте журнала DICTUM FACTUM</a
          >
          Читаем, применяем на практике и приглашаем к обсуждению в
          комментариях! С уважением, Адвокатское объединение «Фауст»
        </p>

        <button
          id="btn-read-full"
          class="reforms-btn-read-full"
          data-lang="reforms.btn"
        >
          Читать полностью
        </button>
      </div>
      <div class="reforms-container-text">
        <h4 class="reforms-article-title" data-lang="reforms.secondArticle">
          Ложь в современной системе. Как ложь стала ее частью.
        </h4>
        <p
          id="text-reform-1"
          class="reforms-text"
          data-lang="reforms.secondText"
        >
          Текст
        </p>

        <button
          id="btn-read-full-1"
          class="reforms-btn-read-full"
          data-lang="reforms.secontBtn"
        >
          Читать полностью
        </button>
      </div>
    </div>
  </div>
</section>
